.confirmBooking-container{
    padding: 100px 250px 100px 250px;
    height: 50vh;
    background-color: #495E57;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmBooking-container h2{
    text-align: center;
}