header{
    width: 100%;
    position: fixed;
    background-color: #fff;
}
.header-container{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-content: center;
    padding: 20px 250px 20px 250px;
}