section.hero{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 130px 250px 40px 250px;
    background-color: #495E57;
    color:#fff;
}
img.restaurantPhoto{
    width: 500px;
}
section.hero div.desc p{
    margin-bottom: 35px;
}