a{
    text-decoration: none;
}
li{
    list-style: none;
    font-weight: 600;
}
ul a:hover{
    color: #f4ce14;
}
a:active{
    color: #f4ce14;
}
.navigation{
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
}